<div class="row">
    <div class="col-3">
        <ul>
            <li class="list-group-item m-2">Email:</li>
            {% if user.first_name %}
                <li class="list-group-item m-2">Имя:</li>
            {% endif %}
            {% if user.last_name %}
                <li class="list-group-item m-2">Фамилия:</li>
            {% endif %}
        </ul>
    </div>
    <div class="col-4">
        <ul>
            <li class="list-group-item m-2">{{ user.email }}</li>
            {% if user.first_name %}
                <li class="list-group-item m-2">{{ user.first_name }}</li>
            {% endif %}
            {% if user.last_name %}
                <li class="list-group-item m-2">{{ user.last_name }}</li>
            {% endif %}
        </ul>
    </div>
</div>
